@import "tailwindcss";

.cut {
  text-decoration: line-through;
  color: red;
  opacity: 0.7;
}
.added {
  color: green;
  font-style: italic;
}
.stage-direction {
  font-style: italic;
  color: #555;
}
